* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(backgrounfimg.jpg);
  width: 100vh;
  height: 100vh;
  background-size: cover;
  font-size: 20px;
}
.inputwork {
  margin: 0px;
}
.container1 {
  width: 100%;
  min-width: 100vh;
  padding: 10px;
}
.container {
  margin: 100px 50px 100px 70px;
  padding: 30px 40px 75px 50px;
  border-radius: 20px;
  background: #ffff;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.row {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: rgb(162, 162, 162);
  border-radius: 25px;
}
input {
  flex: 1;
  outline: none;
  border: none;
  background: transparent;
  border-radius: 30px;
  font-weight: 300;
  padding: 15px;
}
button {
  border: none;
  outline: none;
  padding: 15px 45px;
  background-color: darkorange;
  border-radius: 30px;
  font-weight: 500;
  cursor: pointer;
}

ul li {
  padding: 4px;
  padding: 20px 8px 13px 50px;
  list-style: none;
  font-family: sans-serif;
  position: relative;
   
}
ul li::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  background-image: url(unchecked.png);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  top: 20px;
  left: 8px;
}
ul li.item{
    text-decoration: line-through;
}
ul li.item::before{
    background-image: url(checked.png);
}
ul li span{
  position: absolute;
  width: 30px;
  height: 30px;
  right: 25px;
  font-size: 20px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
ul li span:hover{
  background-color: #6d6969;
}